/*-----------------------------*/
/* Variables Calendar page */
/*-----------------------------*/
/* Page background color */
$backgroundCalendarColor: #7F0000;
/* Container Calendar variables */
$backgroundContainerCalendarColor: #0d1b2a;
$backgroundContainerCalendarBoxShadow: inset 0px 4px 4px rgba(127, 0, 0, 0.8);
$backgroundBorderContainerCalendar: 2px solid aliceblue;
$borderRadiusContainerCalendar: 2%;
$BackgroundLottieSizeCalendarW: 90rem;
$BackgroundLottieSizeCalendarH: 72rem;
/* Text variables */
$titleOneColor: aliceblue;
$paragraphCalendarColor: aliceblue;
$textButtonCalendarColor: aliceblue;
$paragrapheCalendarSize: 1.5rem;
$titleCalendarSize: 2rem;
$titleCalendarColor: #cc1e6f;
